<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="triangle" class="com.jaivardhan.Triangle">
        <constructor-arg name="pointA" ref="p1"></constructor-arg>
        <constructor-arg name="pointB">
            <bean  class="com.jaivardhan.Point">
                <property name="x" value="20"></property>
                <property name="y" value="0"></property>
            </bean>
        </constructor-arg>
        <constructor-arg name="pointC" >
            <bean  class="com.jaivardhan.Point">
                <property name="x" value="0"></property>
                <property name="y" value="-20"></property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="p1" class="com.jaivardhan.Point">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
    </bean>


</beans>